<section id="fly-pic-library-container">
    <header class="fly-pic-btn">
        <input type="button" value="图片库"/>
        <input type="button" value="我的图片" class="active"/>
    </header>
    <section class="fly-pic-list" id="fly-pic-list">
       <div>
           <header class="fly-pic-type">
               <div id="next"></div>
               <div id="fly-pic-list-items" class="fly-pic-list-items">
                   <ul fly-pic-type-title>
                       <li ng-class="{true:'active',false:''}[$index===0]" ng-repeat="item in ltP.index.$scope.typeTitle track by $index" data-id="{{item.id}}" ng-bind="item.name"></li>
                   </ul>
               </div>
               <div id="prev"></div>
           </header>
           <section class="fly-type-items">
               <ul fly-pic-type-items>
                   <li ng-repeat="item in ltP.index.$scope.typeItemList track by $index" data-id="{{item.id}}">{{item.name}}<span></span></li>
               </ul>
           </section>
           <section class="fly-list-items">
               <ul fly-pic-item>
                   <li ng-repeat="item in ltP.index.$scope.picList track by $index">
                       <img  data-id="{{item.id}}" data-type="{{item.type}}" src="{{item.src}}" alt=""/>
                   </li>
               </ul>


           </section>
       </div>

    </section>
    <section class="fly-bottom">
        <input type="button" class="btn-ok" value="确  认"/>
        <input type="button" class="btn-clear" value="清  除"/>
    </section>
</section>