<section id="fly-page-release">
    <header class="release-header">
        <div></div>
    </header>
    <section class="release-content">
        <div class="production_share">
            <div class="code_share">
                <div class="production_share_left">
                    <img src="static/images/code.jpg" alt="">
                </div>
                <div class="production_share_right">
                    <button class="active">分享朋友圈</button>
                    <button>分享微信好友</button>
                    <button>分享QQ好友</button>
                </div>
            </div>
            <div class="production_url">
                作品链接<input type="text" placeholder="URL地址">
            </div>
        </div>
    </section>
    <section class="release-bottom">
        <input type="button" value="去看一下"/>
    </section>
</section>